<h1>All of our beautiful creatures </h1>
<% @creatures.each do |creature| %>
  <p>
    <strong>Name:</strong> <%= link_to creature.name, creature_path(creature) %> <br>
    <strong>Description:</strong> <%= creature.description %>
  </p>
<% end %>
<br>
<%= link_to "Add a new creature", new_creature_path %>
