<h1>All of our beautiful creatures </h1>
<% @creatures.each do |creature| %>
  <p>
    <strong>Name:</strong> <%= creature.name %> <br>
    <strong>Description:</strong> <%= creature.description %>
  </p>
<% end %>
